/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: var(--verde);
  text-shadow: none;
  color: var(--verdeclaro);
}

::selection {
  background: var(--verde);
  text-shadow: none;
  color: var(--verdeclaro);
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --amarillo: #ffbd59;
  --rojo: #ea5352;
  --verde: #528a5c;
  --verdeoscuro: #283e2d;
  --verdeclaro: #f2f7f3;
  --greencards: rgba(24, 37, 27, 0.9);
  --botonclaro: rgba(242, 247, 243, 0.2);
}

body {
  width: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  background-color: var(--verdeclaro);
  color: var(--verdeoscuro);
}

h1,
h2,
h3,
.number,
.card {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: -3px;
  margin: 0 0;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 42px;
}

h2 {
  font-weight: normal;
  font-size: 32px;
}

h3 {
  font-weight: 700;
  font-size: 28px;
}

p {
  margin: 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ------------ HEADER ------------ */

header {
  z-index: 2;
  position: fixed;
  top: 0;
  background-color: var(--verdeclaro);
  padding: 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 64px);
  transition: box-shadow 0.5s ease-in;
}

.scrolled {
  box-shadow: 0px 2px 15px rgb(0 0 0 / 6%);
}

header img {
  max-height: 55px;
}

nav {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
}

nav ul {
  display: flex;
}

nav li {
  padding: 0 16px;
}

nav a {
  display: inline-block;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn {
  background-color: var(--verdeoscuro);
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: var(--verdeclaro);
  text-transform: uppercase;
  padding: 14px 24px;
  border: 0;
  border-radius: 24px;
  letter-spacing: 1.5px;
  border: var(--verdeoscuro) solid 2px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: var(--verdeclaro);
  color: var(--verdeoscuro);
}

a {
  color: inherit;
  text-decoration: none;
}

/* ------------ MAIN ------------ */

.seccion {
  padding: 0 80px;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-bottom: 20px;
}

#heroizq {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "."
    "title"
    "flecha";
  align-items: center;
}

#heroizq h1 {
  grid-area: title;
}

#heroizq :last-child {
  grid-area: flecha;
  align-self: self-end;
}

#flechita {
  position: relative;
  z-index: -1;
  -webkit-animation: shake-bottom 1s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    0.7s 4 both;
  animation: shake-bottom 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.7s 4 both;
}

.slider {
  width: 100%;
  background-image: url("/img/hero1.jpg");
  background-position: top 25% center;
  height: 100%;
  border-radius: 32px;
  background-size: cover;
}

#somos {
  padding: 80px;
}

#somos p + p {
  margin-top: 16px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 64px;
}

.bajada {
  font-size: 18px;
  font-weight: 500;
}

#foto-somos {
  width: 100%;
  aspect-ratio: 1280/474;
  /* height: 474px; */
  background-image: url("/img/somos2.jpg");
  border-radius: 32px;
  background-size: contain;
  margin-bottom: 80px;
}

#counters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 64px;
  /* display: grid;
  grid-template-columns: repeat(12, 1fr); */
  column-gap: 20px;
}

.counter-box {
  background-color: white;
  border-radius: 64px;
  padding: 72px 24px;
  width: 25%;
}

.icon {
  text-align: center;
  margin-bottom: 40px;
}

.number {
  margin-bottom: 16px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.number {
  display: flex;
  justify-content: center;
  gap: 0.3em;
}

.value {
  width: 2ch;
}

.counter-box:first-child .value {
  width: 7ch;
}

.description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.separator {
  width: 100%;
  height: 546px;
  background-size: cover;
}

.separator:nth-of-type(1n) {
  background-image: url("/img/separator1.jpg");
  background-position: center;
}

.separator:nth-of-type(2n) {
  background-image: url("/img/separator2.jpg");
  background-position: bottom;
}

#diferentes {
  margin-top: 150px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 5fr 1fr 6fr;
  grid-template-areas: "izq . der";
  column-gap: 20px;
}

#izq-fijo {
  margin-top: 50px;
  grid-area: izq;
}

#derecha-scroll {
  grid-area: der;
}

#diferentes .bajada {
  margin-top: 24px;
}
.green-card {
  color: var(--verdeclaro);
  padding: 56px 64px;
  border-radius: 64px;
  background-color: var(--greencards);
  background-blend-mode: multiply;
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}

.green-card:first-of-type {
  background-image: url(/img/card1.jpg);
}

.green-card:nth-of-type(2n) {
  background-image: url(/img/card2.jpg);
}

.green-card + .green-card {
  margin-top: 64px;
}

.green-card p + p {
  margin-top: 8px;
}

.desc {
  margin-top: 40px;
  font-weight: 600;
}

#beneficios {
  padding: 120px 0;
  text-align: center;
  background-color: white;
}

#beneficios ul {
  margin-top: 24px;
  font-size: 22px;
}

#beneficios li + li {
  margin-top: 8px;
}

#productos {
  background-color: var(--verdeoscuro);
  color: var(--verdeclaro);
  padding: 80px 0;
}

#productos h2 {
  padding: 0 0 40px 80px;
}

#productos .btn {
  color: var(--verdeclaro);
  background-color: var(--botonclaro);
}

#productos .btn:hover {
  color: inherit;
}

.marquee {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

.marquee-content div {
  display: inline-block;
  margin: 0 5px;
  font-size: 16px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#eligen,
footer {
  padding: 80px 80px 0;
}

#eligen {
  min-height: 500px;
}

#eligen h2 {
  text-align: center;
  margin-bottom: 80px;
}

#card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  font-size: 18px;
  letter-spacing: -2px;
}

.icon-container {
  background-color: var(--verdeoscuro);
  border-radius: 32px 32px 0 0;
  padding: 48px;
  display: flex;
  justify-content: center;
}

.card-name {
  background-color: white;
  border-radius: 0 0 32px 32px;
  padding: 40px 32px 32px;
}

/* ------------ FOOTER ------------ */

footer {
  background-color: var(--amarillo);
  border-radius: 32px 32px 0 0;
  display: grid;
  /* grid-template: repeat(2, 1fr) / repeat(2, 1fr); */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "a b"
    "c d";
  gap: 64px 20px;
}

footer img {
  height: 60px;
}

/* ------------ KEYFRAMES ------------ */

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
