/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: var(--verde);
  text-shadow: none;
  color: var(--verdeclaro);
}

::selection {
  background: var(--verde);
  text-shadow: none;
  color: var(--verdeclaro);
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --amarillo: #ffbd59;
  --rojo: #ea5352;
  --verde: #528a5c;
  --verdeoscuro: #283e2d;
  --verdeclaro: #f2f7f3;
  --greencards: rgba(24, 37, 27, 0.9);
  --botonclaro: rgba(242, 247, 243, 0.2);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  background-color: var(--verdeclaro);
  color: var(--verdeoscuro);
}

p {
  margin: 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
.counter-title,
.card {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: -3px;
  margin: 0 0;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
}

h2 {
  font-weight: normal;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 22px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* ------------ HEADER ------------ */

header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--verdeclaro);
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 20px 16px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: ". logo menu";
}

#open-menu img {
  height: 16px;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  header {
    padding: 20px 32px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

#logo {
  grid-area: logo;
  justify-self: center;
}

.scrolled {
  box-shadow: 0px 2px 15px rgb(0 0 0 / 6%);
}

header img {
  max-height: 55px;
}

#desktop-nav {
  display: none;
}

@media screen and (min-width: 992px) {
  #desktop-nav {
    display: inline-block;
  }
}

nav {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
}

nav ul {
  display: flex;
}

nav li {
  padding: 0 16px;
}

nav a {
  display: inline-block;
  position: relative;
}

@media (hover: hover) {
  nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.btn {
  background-color: var(--verdeoscuro);
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: var(--verdeclaro);
  text-transform: uppercase;
  padding: 14px 24px;
  border: 0;
  border-radius: 24px;
  letter-spacing: 1.5px;
  border: var(--verdeoscuro) solid 2px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: var(--verdeclaro);
  color: var(--verdeoscuro);
}

header .btn {
  display: none;
}

#open-menu {
  grid-area: menu;
  align-self: center;
  justify-self: end;
}

@media only screen and (min-width: 992px) {
  header .btn {
    display: inline-block;
  }

  #open-menu {
    display: none;
  }
}

#fullscreen-menu {
  display: none;
  animation-duration: 200ms;
}

.fullscreen-menu-opened #fullscreen-menu {
  display: flex;
}

.fullscreen-menu-opened {
  overflow-y: hidden;
}

.mobile-menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--verdeoscuro);
  color: var(--verdeclaro);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation-duration: 100ms;
}

.mobile-menu .btn {
  background-color: var(--verdeclaro);
  border: var(--verdeclaro) solid 2px;
  color: var(--verdeoscuro);
  font-size: 20px;
}

.mobile-menu .btn:hover {
  background-color: transparent;
  color: var(--verdeclaro);
}

.mobile-menu-content {
  width: fit-content;
  font-size: 20px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--verdeclaro);
  display: block;
}

.mobile-menu #close-menu {
  position: absolute;
  top: 38px;
  right: 16px;
  z-index: 2;
}

/* ------------ MAIN ------------ */

.seccion {
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .seccion {
    padding: 0 80px;
  }
}

/* ------------ HERO ------------ */

#hero {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  #hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    grid-template-areas: "texto slider";
  }
}

.slider {
  grid-area: slider;
  width: 100%;
  background-image: url("/img/hero1.jpg");
  background-position: top 25% center;
  height: 100%;
  border-radius: 32px;
  background-size: cover;
  animation-duration: 600ms;
}

#hero-txt {
  grid-area: texto;
}

@media only screen and (min-width: 768px) {
  #hero-txt {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      "."
      "title"
      "flecha";
    align-items: center;
  }
}

#hero-title {
  grid-area: title;
}

#hero-title h1 {
  animation-duration: 0.8s;
  visibility: hidden; /* Hide elements initially */
}

#hero-title h1.animate__animated {
  visibility: visible; /* Show elements when animation starts */
}

#hero-title :nth-child(2) {
  animation-delay: 0.2s;
}

#hero-txt :last-child {
  grid-area: flecha;
  align-self: self-end;
}

#down-arrow {
  display: none;
}

@media only screen and (min-width: 768px) {
  #down-arrow {
    display: inline;
    position: relative;
    z-index: -1;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
  }
}

/* ------------ QUIENES SOMOS ------------ */

#somos {
  padding: 56px 16px 80px;
}

@media only screen and (min-width: 768px) {
  #somos {
    padding: 80px;
  }
}

#somos p + p {
  margin-top: 16px;
}

.bajada {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 0 32px;
}

#foto-somos {
  width: 100%;
  aspect-ratio: 1/1;
  background-image: url("/img/somos2.jpg");
  border-radius: 32px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  #container {
    display: grid;
    margin-bottom: 64px;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .bajada {
    font-size: 18px;
    padding: 0;
  }

  #foto-somos {
    aspect-ratio: 1280/474;
    background-size: contain;
  }
}

/* ------------ COUNTERS ------------ */

#counters-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.counter-box {
  background-color: white;
  border-radius: 64px;
  padding: 56px 72px;
  height: 160px;
}

.counter-icon {
  text-align: center;
  padding-bottom: 16px;
}

.counter-title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: 0.3em;
  padding-bottom: 8px;
}

.counter-value {
  width: 2ch;
}

.counter-box:first-child .counter-value {
  width: 7ch;
}

.counter-description {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #counters-container {
    flex-direction: row;
    gap: 64px;
    justify-content: center;
  }

  .counter-box {
    padding: 64px 40px 24px;
    height: 240px;
    width: 272px;
  }

  .counter-icon {
    padding-bottom: 40px;
  }

  .counter-title {
    font-size: 32px;
    padding-bottom: 8px;
  }

  .counter-description {
    font-size: 18px;
  }
}

/* ------------ SEPARATORS ------------ */

.separator {
  width: 100%;
  height: 546px;
  background-size: cover;
}

.separator:nth-of-type(1n) {
  background-image: url("/img/separator1.jpg");
  background-position: 80%;
}

@media only screen and (min-width: 768px) {
  .separator:nth-of-type(1n) {
    background-position: center;
  }
}

.separator:nth-of-type(2n) {
  background-image: url("/img/separator2.jpg");
  background-position: bottom;
}

/* ------------ QUE NOS HACE DIFERENTES ------------ */

#diferentes {
  padding: 80px 16px;
}

#derecha-scroll {
  grid-area: der;
  /* overflow: hidden; */
}

.green-card {
  padding: 40px 32px;
  border-radius: 64px;
  color: var(--verdeclaro);
  background-color: var(--greencards);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.green-card:first-of-type {
  background-image: url(/img/card1.jpg);
}

.green-card:nth-of-type(2n) {
  background-image: url(/img/card2.jpg);
}

.green-card + .green-card {
  margin-top: 32px;
}

.green-card p + p {
  margin-top: 8px;
}

.green-card-description {
  margin-top: 32px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  #diferentes {
    padding: 80px;
    display: grid;
    grid-template-columns: 5fr 1fr 6fr;
    grid-template-areas: "izq . der";
    column-gap: 20px;
  }

  #diferentes .bajada {
    margin-top: 24px;
  }

  #izq-sticky {
    grid-area: izq;
    align-self: self-start;
    position: sticky;
  }

  .green-card {
    padding: 56px 64px;
  }

  .green-card-description {
    margin-top: 40px;
  }

  .green-card + .green-card {
    margin-top: 64px;
  }
}

/* ------------ BENEFICIOS ------------ */

#beneficios {
  padding: 80px 16px;
  text-align: center;
  background-color: white;
}

#beneficios-lista {
  margin-top: 24px;
  font-size: 16px;
}

/* #beneficios-lista li {
  opacity: 0;
  animation: fade-in 1.5s forwards;
} */

/* #beneficios-lista.start li {
  opacity: 0;
} */

#beneficios-lista li + li {
  margin-top: 8px;
}

#beneficios-lista li {
  opacity: 0;
}

#beneficios-lista .show {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  #beneficios ul {
    font-size: 20px;
  }
}

/* ------------ PRODUCTOS ------------ */

#productos {
  background-color: var(--verdeoscuro);
  color: var(--verdeclaro);
  padding: 80px 0;
}

#productos h2 {
  padding: 0 16px 40px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #productos h2 {
    padding: 0 0 40px 80px;
    text-align: left;
  }
}

#productos .btn {
  color: var(--verdeclaro);
  background-color: var(--botonclaro);
}

.marquees-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.marquee {
  display: flex;
  overflow: hidden;
  gap: 1rem;
  position: relative;
  user-select: none;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 1rem;
}

.scroll {
  animation: scroll 50s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.reverse {
  animation: reverseScroll 50s linear infinite;
}

@keyframes reverseScroll {
  from {
    transform: translateX(calc(-100% - 1rem));
  }
  to {
    transform: translateX(0);
  }
}

/* ------------ QUIENES NOS ELIGEN ------------ */

#eligen {
  padding: 80px 16px;
  box-sizing: border-box;
}

#eligen h2 {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #eligen {
    padding: 80px;
  }
}

#card-container {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.card {
  width: 100%;
}

.icon-container {
  background-color: var(--verdeoscuro);
  border-radius: 32px 32px 0 0;
  padding: 32px 0;
  display: flex;
  justify-content: center;
}

.card-name {
  background-color: white;
  border-radius: 0 0 32px 32px;
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  border: var(--verdeoscuro) 1px solid;
}

.eligen-icon {
  height: 40px;
}

@media only screen and (min-width: 768px) {
  #card-container {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
    flex-wrap: wrap;
  }

  .card {
    width: 300px;
    font-size: 18px;
    letter-spacing: -2px;
  }

  .icon-container {
    padding: 48px;
  }

  .card-name {
    padding: 40px 16px 32px;
    font-size: 18px;
    border: 0;
  }

  .eligen-icon {
    height: 100%;
  }
}

/* ------------ FOOTER ------------ */

footer {
  background-color: var(--amarillo);
  border-radius: 32px 32px 0 0;
  padding: 50px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer > div:first-child {
  border-bottom: var(--verdeoscuro) 1px solid;
  padding-bottom: 20px;
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

#info p {
  padding-bottom: 16px;
}

footer img {
  height: 60px;
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 80px 80px 56px;
  }

  footer > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  footer img {
    order: 1;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
